@tailwind base;
@tailwind components;
@tailwind utilities;

/* UKReady global styles */
:root {
  --foreground-rgb: 11, 12, 12;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom scrollbar for chat interface */
.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: #f3f2f1;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: #b1b4b6;
  border-radius: 3px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: #505a5f;
}
